.btn {
    padding: 10px 20px; 
    margin: 0 5px; 
    font-size: 0.99rem;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #fff;
    background-color: blue; 
  }
  
  .btn:hover {
    cursor: pointer; 
  }

  .new-joke-btn {
    background-color: #ff004c;
  }

  .laugh-btn {
    background-color: #00ACEE;
  }