.btn {
    padding: 20px 40px; 
    margin: 0 auto; 
    font-size: .99rem;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #fff;
    background-color: blue; 
  }
  
  .btn:hover {
    cursor: pointer; 
  }

  .new-joke-btn {
    background-color: #ff004c;
  }

  .laugh-btn {
    background-color: #00ACEE;
  }

  