.btn {
    padding: 10px 20px; /* top-bottom left-right */
    margin: 0 5px; /* top-bottom left-right */
    font-size: 0.99rem;
    border-radius: 3px;
    outline: none;
    border: none;
    color: #fff;
    background-color: blue; /* default color */
  }
  
  .btn:hover {
    cursor: pointer; /* hand symbol */
  }

  .new-joke-btn {
    background-color: #ff004c;
  }